USE [SportingGoodsDB]
GO
/****** Object:  Table [dbo].[Articles]    Script Date: 17.03.2025 1:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articles](
	[Articles] [int] IDENTITY(1,1) NOT NULL,
	[ArticlesName] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Articles] PRIMARY KEY CLUSTERED 
(
	[Articles] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 17.03.2025 1:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CaategoryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 17.03.2025 1:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[CityId] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fitness]    Script Date: 17.03.2025 1:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fitness](
	[FitnessId] [int] IDENTITY(1,1) NOT NULL,
	[IdArticles] [int] NOT NULL,
	[IdName] [int] NOT NULL,
	[Price] [decimal](6, 2) NOT NULL,
	[MaxSale] [int] NOT NULL,
	[IdManufacturer] [int] NOT NULL,
	[IdSupplier] [int] NOT NULL,
	[IdCategory] [int] NOT NULL,
	[Sale] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[FitnessName] [nvarchar](100) NOT NULL,
	[PhotoName] [nvarchar](20) NULL,
	[Image] [image] NULL,
 CONSTRAINT [PK_Fitness] PRIMARY KEY CLUSTERED 
(
	[FitnessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Index]    Script Date: 17.03.2025 1:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Index](
	[IndexId] [int] IDENTITY(1,1) NOT NULL,
	[IndexName] [int] NOT NULL,
 CONSTRAINT [PK_Index] PRIMARY KEY CLUSTERED 
(
	[IndexId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListEvent]    Script Date: 17.03.2025 1:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListEvent](
	[EventId] [int] IDENTITY(1,1) NOT NULL,
	[EventName] [nvarchar](50) NOT NULL,
	[EventDate] [date] NOT NULL,
	[EventIdCity] [int] NOT NULL,
	[Location] [nvarchar](50) NOT NULL,
	[SportProductId] [int] NOT NULL,
	[Organization] [nvarchar](50) NOT NULL,
	[ParticipantCount] [int] NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ListEvent] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturer]    Script Date: 17.03.2025 1:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturer](
	[ManufacturerId] [int] IDENTITY(1,1) NOT NULL,
	[ManufacturerName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Manufacturer] PRIMARY KEY CLUSTERED 
(
	[ManufacturerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Name]    Script Date: 17.03.2025 1:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Name](
	[NameId] [int] IDENTITY(1,1) NOT NULL,
	[NameFClub] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Name] PRIMARY KEY CLUSTERED 
(
	[NameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PickPoint]    Script Date: 17.03.2025 1:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PickPoint](
	[PickPointId] [int] IDENTITY(1,1) NOT NULL,
	[IdIndex] [int] NOT NULL,
	[IdCity] [int] NOT NULL,
	[IdStreet] [int] NOT NULL,
	[IdHome] [int] NOT NULL,
 CONSTRAINT [PK_PickPoint] PRIMARY KEY CLUSTERED 
(
	[PickPointId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 17.03.2025 1:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Street]    Script Date: 17.03.2025 1:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Street](
	[StreetId] [int] IDENTITY(1,1) NOT NULL,
	[StreetName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Street] PRIMARY KEY CLUSTERED 
(
	[StreetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 17.03.2025 1:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierId] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 17.03.2025 1:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[IdRole] [int] NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Lname] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Articles] ON 

INSERT [dbo].[Articles] ([Articles], [ArticlesName]) VALUES (1, N'B538G6')
INSERT [dbo].[Articles] ([Articles], [ArticlesName]) VALUES (2, N'C324S5')
INSERT [dbo].[Articles] ([Articles], [ArticlesName]) VALUES (3, N'D038G6')
SET IDENTITY_INSERT [dbo].[Articles] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [CaategoryName]) VALUES (1, N'Одежда')
INSERT [dbo].[Category] ([CategoryId], [CaategoryName]) VALUES (2, N'Спортивный инвентарь')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([CityId], [CityName]) VALUES (1, N'Дубна')
INSERT [dbo].[City] ([CityId], [CityName]) VALUES (2, N'Москва')
INSERT [dbo].[City] ([CityId], [CityName]) VALUES (3, N'Саратов')
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[Fitness] ON 

INSERT [dbo].[Fitness] ([FitnessId], [IdArticles], [IdName], [Price], [MaxSale], [IdManufacturer], [IdSupplier], [IdCategory], [Sale], [Count], [FitnessName], [PhotoName], [Image]) VALUES (1, 29, 28, CAST(5600.00 AS Decimal(6, 2)), 10, 18, 1, 2, 3, 8, N'Штанга Starfit BB-401 30кг пласт. черный ', N'', NULL)
INSERT [dbo].[Fitness] ([FitnessId], [IdArticles], [IdName], [Price], [MaxSale], [IdManufacturer], [IdSupplier], [IdCategory], [Sale], [Count], [FitnessName], [PhotoName], [Image]) VALUES (4, 21, 25, CAST(440.00 AS Decimal(6, 2)), 25, 2, 1, 2, 5, 17, N'Шапочка для плавания Atemi PU 140 ткань с покрытием желтый', N'', NULL)
SET IDENTITY_INSERT [dbo].[Fitness] OFF
GO
SET IDENTITY_INSERT [dbo].[Index] ON 

INSERT [dbo].[Index] ([IndexId], [IndexName]) VALUES (1, 125061)
INSERT [dbo].[Index] ([IndexId], [IndexName]) VALUES (2, 125703)
INSERT [dbo].[Index] ([IndexId], [IndexName]) VALUES (3, 125837)
SET IDENTITY_INSERT [dbo].[Index] OFF
GO
SET IDENTITY_INSERT [dbo].[ListEvent] ON 

INSERT [dbo].[ListEvent] ([EventId], [EventName], [EventDate], [EventIdCity], [Location], [SportProductId], [Organization], [ParticipantCount], [Description]) VALUES (1, N'Выставка спортивных тренажеров', CAST(N'2024-03-01' AS Date), 1, N' стадион "Лужники"', 101, N'ФитнесМир', 150, N'Презентация новых тренажеров для залов')
INSERT [dbo].[ListEvent] ([EventId], [EventName], [EventDate], [EventIdCity], [Location], [SportProductId], [Organization], [ParticipantCount], [Description]) VALUES (2, N'Турнир по футболу', CAST(N'2024-03-05' AS Date), 2, N' Арена "Ак Барс"', 205, N'Adidas', 500, N'Соревнования среди любительских команд')
INSERT [dbo].[ListEvent] ([EventId], [EventName], [EventDate], [EventIdCity], [Location], [SportProductId], [Organization], [ParticipantCount], [Description]) VALUES (3, N'Показ спортивной одежды', CAST(N'2024-03-10' AS Date), 3, N' Эрмитаж', 302, N'Nike', 200, N'Демонстрация зимней коллекции')
SET IDENTITY_INSERT [dbo].[ListEvent] OFF
GO
SET IDENTITY_INSERT [dbo].[Manufacturer] ON 

INSERT [dbo].[Manufacturer] ([ManufacturerId], [ManufacturerName]) VALUES (1, N'Abtoys')
INSERT [dbo].[Manufacturer] ([ManufacturerId], [ManufacturerName]) VALUES (2, N'Atemi')
INSERT [dbo].[Manufacturer] ([ManufacturerId], [ManufacturerName]) VALUES (3, N'Bradex')
SET IDENTITY_INSERT [dbo].[Manufacturer] OFF
GO
SET IDENTITY_INSERT [dbo].[Name] ON 

INSERT [dbo].[Name] ([NameId], [NameFClub]) VALUES (1, N'Боксерская груша')
INSERT [dbo].[Name] ([NameId], [NameFClub]) VALUES (2, N'Велосипед')
INSERT [dbo].[Name] ([NameId], [NameFClub]) VALUES (3, N'Велотренажер')
SET IDENTITY_INSERT [dbo].[Name] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (2, N'Клиент')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (3, N'Менеджер')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Street] ON 

INSERT [dbo].[Street] ([StreetId], [StreetName]) VALUES (1, N'Вишневая')
INSERT [dbo].[Street] ([StreetId], [StreetName]) VALUES (2, N'Гоголя')
INSERT [dbo].[Street] ([StreetId], [StreetName]) VALUES (3, N'Дзержинского')
SET IDENTITY_INSERT [dbo].[Street] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([SupplierId], [SupplierName]) VALUES (1, N'Декатлон')
INSERT [dbo].[Supplier] ([SupplierId], [SupplierName]) VALUES (2, N'Спортмастер')
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [IdRole], [Surname], [Lname], [Patronymic], [Login], [Password]) VALUES (1, 3, N'Смирнов', N'Петр', N'Игоревич', N'smirnov.petr@example.com', N'P3tEg7')
INSERT [dbo].[User] ([UserId], [IdRole], [Surname], [Lname], [Patronymic], [Login], [Password]) VALUES (2, 3, N'Сидорова', N'Анна', N'Викторовна', N'sid.an.viktor@mail.com', N'S1d0r9')
INSERT [dbo].[User] ([UserId], [IdRole], [Surname], [Lname], [Patronymic], [Login], [Password]) VALUES (3, 2, N'Николаев', N'Семен', N'Ильич', N'nikolaev.semen@mail.ru', N'0N1k0L')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Fitness]  WITH CHECK ADD  CONSTRAINT [FK_Fitness_Articles] FOREIGN KEY([IdArticles])
REFERENCES [dbo].[Articles] ([Articles])
GO
ALTER TABLE [dbo].[Fitness] CHECK CONSTRAINT [FK_Fitness_Articles]
GO
ALTER TABLE [dbo].[Fitness]  WITH CHECK ADD  CONSTRAINT [FK_Fitness_Category] FOREIGN KEY([IdCategory])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Fitness] CHECK CONSTRAINT [FK_Fitness_Category]
GO
ALTER TABLE [dbo].[Fitness]  WITH CHECK ADD  CONSTRAINT [FK_Fitness_Manufacturer] FOREIGN KEY([IdManufacturer])
REFERENCES [dbo].[Manufacturer] ([ManufacturerId])
GO
ALTER TABLE [dbo].[Fitness] CHECK CONSTRAINT [FK_Fitness_Manufacturer]
GO
ALTER TABLE [dbo].[Fitness]  WITH CHECK ADD  CONSTRAINT [FK_Fitness_Name] FOREIGN KEY([IdName])
REFERENCES [dbo].[Name] ([NameId])
GO
ALTER TABLE [dbo].[Fitness] CHECK CONSTRAINT [FK_Fitness_Name]
GO
ALTER TABLE [dbo].[Fitness]  WITH CHECK ADD  CONSTRAINT [FK_Fitness_Supplier] FOREIGN KEY([IdSupplier])
REFERENCES [dbo].[Supplier] ([SupplierId])
GO
ALTER TABLE [dbo].[Fitness] CHECK CONSTRAINT [FK_Fitness_Supplier]
GO
ALTER TABLE [dbo].[ListEvent]  WITH CHECK ADD  CONSTRAINT [FK_ListEvent_City] FOREIGN KEY([EventIdCity])
REFERENCES [dbo].[City] ([CityId])
GO
ALTER TABLE [dbo].[ListEvent] CHECK CONSTRAINT [FK_ListEvent_City]
GO
ALTER TABLE [dbo].[PickPoint]  WITH CHECK ADD  CONSTRAINT [FK_PickPoint_City] FOREIGN KEY([IdCity])
REFERENCES [dbo].[City] ([CityId])
GO
ALTER TABLE [dbo].[PickPoint] CHECK CONSTRAINT [FK_PickPoint_City]
GO
ALTER TABLE [dbo].[PickPoint]  WITH CHECK ADD  CONSTRAINT [FK_PickPoint_Index] FOREIGN KEY([IdIndex])
REFERENCES [dbo].[Index] ([IndexId])
GO
ALTER TABLE [dbo].[PickPoint] CHECK CONSTRAINT [FK_PickPoint_Index]
GO
ALTER TABLE [dbo].[PickPoint]  WITH CHECK ADD  CONSTRAINT [FK_PickPoint_Street] FOREIGN KEY([IdStreet])
REFERENCES [dbo].[Street] ([StreetId])
GO
ALTER TABLE [dbo].[PickPoint] CHECK CONSTRAINT [FK_PickPoint_Street]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
